<div class="popupOuter">
  <div class="btnClose"><a href="#"><img src="/assets/btn-close.png" width="12" height="13" alt="" /></a></div>
  <h2>Add Contact</h2>
  <div class="formHolder">
  
  <%= form_for @contact do |f| %>
  	<div class="row">
    	<label>Name:</label> <input type="text" maxlength="100" size="40" value="" name="name">
    </div>
    <div class="row">
    	<label>Title:</label> <input type="text" maxlength="100" size="40" value="" name="title">
    </div>
    <div class="row">
      <label>Description:</label> <input type="text" maxlength="100" size="40" value="" name="description">
    </div>
    <div class="row">
      <label>Position:</label> 
      <%= f.select :name, options_for_select(Position.all.map{|s|[s.name, s.id]}) %>
    </div>
    <div class="row">
      <label>Gender:</label>
      <div class="controls">
          <select name="gender">
          <option value="">---</option>
          <option value="female">female</option>
          <option value="male">male</option>
          </select>
      </div>
    </div>
    <div class="row">
      <label>Email:</label>
      <input type="text" maxlength="100" value="" name="email">
    </div>
    <div class="row">
      <label>Phone Number:*</label> 
      <input type="text" maxlength="10" value="" name="telephone_1">
    </div>
    <div class="row">
      <label>Mobile Number:</label> 
      <input type="text" maxlength="10" value="" name="telephone_2">
    </div>
    <div class="row">
      <label>Fax Number:</label> 
      <input type="text" maxlength="10" value="" name="fax">
    </div>

    <div class="row">
    	<label>Address:</label>
       <input type="text" maxlength="10" value="" name="address">
    </div>
    <div class="row">
    	<label>Zip/Postal code:</label> 
      <input type="text" maxlength="15" value="" name="zipcode">
    </div>    
    <div class="row">
    	<label>City:</label> 
      <input type="text" maxlength="15" value="" name="city">
    </div> 
    <div class="row">
      <label>Country:</label> 
      <div class="controls">
        <%= f.country_select :country, priority: %w(US CA), prompt: 'Please select a country' %>
      </div>
    </div> 
   
  <div class="row bntHolder">
			<input type="submit" value="Create Hotel" name="commit">
			<button type="submit" name="cancel">Cancel</button>
		</div>  
    <% end %>
        </div>
</div>