 <% content_for :title, "BestNights.com" %>

 <div id="wrapper" class="register">
 	<div id="container-main">
 		<div class="link-sec">
 		</div>
 		<div class="info blockinfo">
 			<ul>
 				<li>
	 				<label>Name:</label>
	 				<%= @room_sub_type.name.titleize %>
 				</li>
 				<li>
	 				<label>Type Name:</label>
					<%= @room_sub_type.room_type.room_type.titleize %>
				</li>
				
			</ul>
		</div>
 	</div>
 		<%= render :partial => "common/home_footer" %>
 </div>