<div id="container-main">
	<h1 class="prop-title">Create FAQ Category</h1> 
	<%= render 'form' %>
	<div class="row back-link">
		<%= link_to 'Back', faq_categories_path, class: "link" %>
	</div>
</div>