<div class="content-wrapper">
<%= render partial: "/common/navigation_tab"%>
<section>
<h1>Finance - Information</h1>
<p>
	If you have questions, we advise you to contact our Finance department:
	<br>
	<%= mail_to "info@bestnights.com" %>
	<br>
	Telephone  : 1 800 494 BEST (2378)
	<br>
	Fax : 1 844 494 BEST (2378)
</p>
</section>
</div>
<div class="height100"></div>