<div class="content-wrapper adm-inr">
	<div id="container-main">
    <header>
      <h1 class="prop-title"><%= session[:hotel_name] %> (ID: <%= session[:hotel_id] %>)</h1>
    </header>
    <%= render partial: "/common/navigation_tab"%>
    <div class="rtSidebar">
      <div class="section">
        <h3 class="title-bcg">Invoicing Details</h3>
        <div class="bookings blocks">
          <div class="scroll">
          	<table class="bookconf invoiceDet" width="100%" border="0">
							<tbody>
								<tr>
								  <td align="left" valign="middle"><strong>Contracted by</strong></td>
								  <td align="center" valign="middle">BestNights Inc</td>
								</tr>
								<tr>
								  <td align="left" valign="middle"><strong>Company name</strong></td>
								  <td align="center" valign="middle">BestNights Inc</td>
								</tr>
								<tr>
								  <td align="left" valign="middle"><strong>Legal Address</strong></td>
								  <td align="center" valign="middle">715 Evans Crt Unit 4</td>
								</tr>
								<tr>
								  <td align="left" valign="middle"><strong>Legal Postal code</strong></td>
								  <td align="center" valign="middle">V1X 6G4</td>
								</tr>
								<tr>
								  <td align="left" valign="middle"><strong>Legal Country</strong></td>
								  <td align="center" valign="middle">Canada</td>
								</tr>
								<tr>
								  <td align="left" valign="middle"><strong>Legal Language</strong></td>
								  <td align="center" valign="middle">English</td>
								</tr>
								<tr>
								  <td align="left" valign="middle" colspan="2"><strong>Wire Payments</strong></td>
								</tr>
								<tr>
								  <td align="left" valign="middle"><strong>Swift Code</strong></td>
								  <td align="center" valign="middle">TDOMCATTTOR </td>
								</tr>
								<tr>
								  <td align="left" valign="middle"><strong>BENEFICIARY BANK ADDRESS</strong></td>
								  <td align="center" valign="middle">TD CANADA TRUST 6517 - 118 AVE EDMONTON, ALBERTA T5W 1G5 </td>
								</tr>
								<tr>
								  <td align="left" valign="middle" colspan="2"><strong>YOUR PERSONAL BANK INFO</strong></td>
								</tr>
								<tr>
								  <td align="left" valign="middle"><strong>TRANSIT</strong></td>
								  <td align="center" valign="middle">86889</td>
								</tr>
								<tr>
								  <td align="left" valign="middle"><strong>INSTITUTION</strong></td>
								  <td align="center" valign="middle">004</td>
								</tr>
								<tr>
								  <td align="left" valign="middle"><strong>ACCOUNT</strong></td>
								  <td align="center" valign="middle">0884-5215349</td>
								</tr>
								<tr>
								  <td align="left" valign="middle" colspan="2"><strong>If the funds are coming is US currency, you will also need the following:</strong></td>
								</tr>
								<tr>
								  <td align="left" valign="middle"><strong>ROUTING</strong></td>
								  <td align="center" valign="middle">026009593</td>
								</tr>
								<tr>
								  <td align="left" valign="middle"><strong>INTERSECTING BANK</strong></td>
								  <td align="center" valign="middle">BANK OF AMERICA, N.Y.</td>
								</tr>
								<tr>
								  <td align="left" valign="middle"><strong>ACCOUNT</strong></td>
								  <td align="center" valign="middle">6550826336</td>
								</tr>
								<tr>
								  <td align="left" valign="middle"><strong>SWIFT CODE</strong></td>
								  <td align="center" valign="middle">BOFAUS3N</td>
								</tr>
							</tbody>
						</table>
          </div>
        </div>
      </div>
    </div>
    <div class="height350 overflow">&nbsp;</div>
  </div>
</div>