<div class="bookconfTab">
	<div class="blocks">
	<div style="display:none;"><%= link_to "Home", dashboard_path, class: "links" %></div>
	<h2>Invoicing Details</h2>
		<table class="bookconf" width="100%" border="0">
		<tr>
		 <td align="left" valign="middle">Subject</td>
		  <td align="center" valign="middle">Today</td>
		</tr>
	<tbody>
		<tr>
		  <td align="center" valign="middle">

		  </td>
		  <td align="center" valign="middle">

		  </td>		
		</tr>
	</tbody>
</table>
</div>
</div>
<div class="row back-link"><%= link_to "Back", dashboard_path , class: "link" %></div>