<div id="container-main">
<h1 class="prop-title">New Commission Rate</h1> 
<div class="conwrap">
<div class="bookings blocks">
	<%= render 'form' %>
</div>
</div>
<div class="row back-link bking"><%= link_to "Back", hotels_path , class: "link" %></div>
</div>
