<p id="notice"><%= notice %></p>

<p>
  <b>Amount:</b>
  <%= @commission_rate.amount %>
</p>


<%= link_to 'Edit', edit_commission_rate_path(@commission_rate), class: "link_style" %> 
<div class="row back-link"><%= link_to "Back", commission_rates_path , class: "link" %></div>
