 <% content_for :title, "BestNights.com - User" %>

<header>
	<h1><%= @user.role %></h1>
</header>

<div id="container-main">
	<span>
		<%= @user.email %>
	</span>	
</div>
<div class="row back-link bking"><%= link_to "Back", users_path , class: "link" %></div>
