<div id="wrapper" class="register">
	<div id="eyebrow">
		<%= render :partial => "common/home_nav_tab" %>		
	</div>
	<header>
		<h1 class="prop-title">About Us</h1>
	</header>
	<div id="container-main">
		<% if !@about_us.blank?  %>
			<%= @about_us.content.html_safe%>
		<% end %>
	</div>
	<%= render :partial => "common/home_footer" %>
</div>