<div id="wrapper" class="register">
	<div id="eyebrow">
		<%= render :partial => "common/home_nav_tab" %>		
	</div>
	<header>
		<h1 class="prop-title">About Us</h1>
	</header>
	<div id="container-main">
		<p>Bestnights.com is the result of many years worked in the hospitality and service industries. We realized we had a chance to improve a service that affects millions of people worldwide, but hasn’t been improved since its beginnings: Online Hotel Booking.</p>

		<p>Most of us have used an Online Travel Agency (OTA) site from the traveller’s side, booking accommodations for work or vacation. But what most of us haven’t seen, is the hidden backside of those sites and services. Let us tell you, it can be challenging to manage a hotel property or chain of properties on these sites.</p>

		<p>We, at Bestnights.com, have spent months planning and integrating an easy to use interface for both sides of OTA sites! Now, as a traveller, you can plan your trip and book a room easily. As a hotelier, you can manage your bookings with ease.</p>

		<p>We hope you like using our service and want you to know that we strive to always improve.</p>

		<p><strong>Take care,</strong></p>

		<p><strong>The Bestnights Team</strong></p>
	</div>
	<%= render :partial => "common/home_footer" %>
</div>