<div id="wrapper" class="register">
	<div id="eyebrow">
		<%= render :partial => "common/home_nav_tab" %>		
	</div>
	<header>
		<h2>Contact Us</h2>
	</header>
	<div id="container-main">
		<p><strong>Address:</strong>  715 Evans Ct, Unit #4, Kelowna, BC V1X 6G4</p>
		<p><strong>Toll Free:</strong> 1 800 494 BEST (2378)</p>
		<p><strong>Fax:</strong> 1 844 494 BEST (2378)</p>
		<p><strong>Email:</strong> <%= mail_to "info@bestnights.com" %> </p>
	</div>
	<%= render :partial => "common/home_footer" %>
</div>