<div id="wrapper" class="register">
	<div id="eyebrow">
		<%= render :partial => "common/home_nav_tab" %>		
	</div>
	<header>
		<h1 class="prop-title">FAQ</h1>
	</header>
	<div id="container-main">
		<% @faq_categories.each do |faq_category| %>
			<div class="faq-section">
	  		<h3 class="faq-header">
	  			<%= faq_category.name %>
	  		</h3>
	  		<% @faqs = Faq.where("category_id", faq_category.id) %>
	  		<% @faqs.each do |faq| %>
	  			<p>
	  				<strong class="quer">
	  					<%= faq.question.html_safe %>
	  				</strong>
	  				<%= faq.answer.html_safe %>
	  			</p>
	  		<% end %>
	  	</div>
		<% end %>
	</div>
</div>