<div id="wrapper" class="register">
	<div id="eyebrow">
		<%= render :partial => "common/home_nav_tab" %>		
	</div>
	<header>
		<h1 class="prop-title">FAQ</h1>
	</header>
	<div id="container-main">
	  <% unless @faq.blank? %>
			<%= @faq.inspect %>
		<% end %>
	</div>
	<%= render :partial => "common/home_footer" %>
</div>