<div id="wrapper" class="register">
	<div id="eyebrow">
		<%= render :partial => "common/home_nav_tab" %>		
	</div>
	<header>
		<h1 class="prop-title">FAQ</h1>
	</header>
	<div id="container-main">
		<p><strong>What is included in the price?</strong></p>
		<p>All facilities listed under each property are included</p>
		<p><strong>Can I make a reservation without a credit card?</strong></p>
		<p>Unfortunately no. Bookings must be guaranteed by credit card.</p>
		<p><strong>How do I know my reservation is confirmed?</strong></p>
		<p>You will receive a confirmation email and number. Check your spam or junk email in case your spam settings detect your confirmation as spam.</p>
		<p><strong>Can I cancel or change my reservation?</strong></p>
			<p>Yes, through the system you can make changes. If you are having difficulty, please contact us by our toll free number or by email</p>
		<p><strong>Does the hotel need a deposit?</strong></p>
		<p>Most hotels require a deposit. Please read the hotels policies for more info.</p>
		<p><strong>When am I charged?</strong></p>
		<p>The hotel, upon arrival will charge you. The hotel policy may be to charge up front or to take a deposit at check in.</p>
		<p><strong>What is the cancellation policy?</strong></p>
		<p>Most hotels offer a 24 or 48-hour policy. Please check each hotel’s policies to be sure.</p>
	</div>
	<%= render :partial => "common/home_footer" %>
</div>