<div id="wrapper" class="home">
	<div id="eyebrow">
		<%= render :partial => "common/home_nav_tab" %>
	</div>	
	<div id="features" class="ready">
		<img src="/assets/landing-bg.jpg">
	</div>
	<section class="landing">
		<h2 class="landingHead">We’re new and we’re here for you!
		<span>We make booking easier and save your money! <br /></h2>
		<p class="landingText"><%= link_to "Register and enter to win an iPad", new_contact_path, class: "addProperty" %></p>
		<p class="landingText propertyy">Register your property today! Upon activation with room inventory, You will automatically be entered to win an iPad! The winner will be announced via our website & contacted directly. </p>
		<p class="landingText"><%= link_to "Add your property today!", welcome_path , class: "addProperty" %></p>
	</section>
	<%= render :partial => "common/home_footer" %>	
</div>
