<div id="wrapper" class="register">
	<div id="eyebrow">
		<%= render :partial => "common/home_nav_tab" %>		
	</div>
	<header>
		<h1 class="prop-title">Privacy Policy</h1>
	</header>
	<div id="container-main">
		<%= @privacy.content.html_safe%>
	</div>
	<%= render :partial => "common/home_footer" %>
</div>