<div id="wrapper" class="register">
	<div id="eyebrow">
		<%= render :partial => "common/home_nav_tab" %>		
	</div>
	<header>
		<h1 class="prop-title">BestNights.com Terms and Conditions ("Agreement")</h1>
	</header>
	<div id="container-main">
		<% if !@term.content.blank?  %>
			<%= @term.content.html_safe%>
		<% end %>
	</div>
	<%= render :partial => "common/home_footer" %>
</div>