 <% content_for :title, "BestNights.com" %>

 <div id="wrapper" class="register">
 	<div id="container-main">
 		<h1 class="prop-title">Traveler Information</h1> 
 		<%= render partial: "/common/navigation_tab"%>
 		<div class="Tpaymnet">
	 				<h2 class="travelerText"> Welcome, <%= @traveler.firstname.capitalize %>&nbsp;<%= @traveler.lastname.capitalize %> ! 	<br />
	 				From here you can access your <br /> booking history and profile.<br/><br/>
	 				or
	 			</h2>
		</div>
		<% if current_traveler || session[:traveler_id] %>
			<ul class="searchDestinyButt">
				<li><%= link_to "Search a New Destination!", root_path  %></li>
			</ul>
		<% end %>
 	</div>
 </div>

