<p>Kindest Regards for signing up for Best Nights! Your account is pending. An administrator has been notified and must approve your account.</p>
<p>If you have abandoned a cart and want to complete your sign up or have encountered an error with the payment process you can <a href="mailto:info@bestnights.com">click here</a> to email an administrator.</p>