<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi BestNights,</h1>
    <p>
      Please find the following email request:-
      <br/>
    </p>
     <p>Email: &nbsp; &nbsp;<%= @email %></p>
  </body>
</html>