	<div id="content">
  <div><%= link_to "Home", dashboard_path, class: "links" %></div>
    <p><%= link_to "Change Room Rate", new_rate_path, class: "link_style"  %></p>
    <p><%= link_to "Adjust Rooms To Sell", new_room_available_path, class: "link_style"  %></p>
    <p><%= link_to "Open/Close Rooms", edit_room_available_path(1), class: "link_style" %></p>
</div>
