<div class="logo">
	<%= link_to image_tag("logo.png"), root_path %>
</div>
<nav>
	<%= link_to "home", root_path, :class => "active" %>
	<%= link_to "add your property", welcome_path %>
	<%= link_to "sign in/create account", welcome_path %>
</nav>
