<div class="logo" style="float:left">
	<%= link_to image_tag("/assets/logo.png"), root_path %>
</div>
<nav id="phone" style="margin-top:-10px">
<%= link_to "Login",  new_user_session_path, :style => "font-size:12px; color:#fff;" %>
</nav>
<div style="clear:both"></div>
<p style="float:right; font-size:18px; margin:0; color:#87bf29" >1 800 494 BEST (2378)</p>
<div style="clear:both"></div>
