<footer>
	<div id="footer1">
		<nav>
			<ul>
				<li>Find a Hotel</li>
				<li><a href="#">Top Destinations</a></li>
				<li><a href="#">Top Cities</a></li>
				<li><a href="#">Top Hotels</a></li>
				<li><a href="#">Top Deals</a></li>
			</ul>
			<ul>
				<li>Customer Service</li>
				<li><a href="#">Contact Us</a></li>
				<li><a href="#">FAQs</a></li>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">Terms &amp; Conditions</a></li>
				<li><a href="#">Site Map</a></li>
			</ul>
			<ul>
				<li>Site Policies</li>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">Support Policy</a></li>
				<li><a href="#">Refund Policy</a></li>
				<li><a href="#">License Agreement</a></li>
			</ul>
			<ul>
				<li>Bestnights.com</li>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Add a hotel</a></li>
				<li><a href="#">Feedback</a></li>
			</ul>
		</nav>
		<ul>
			<li>We Guarantee</li>
			<li>Booking is safe. When you book with us your details are protected by a secure connection.</li>
			<li>Your privacy is protected. Your details will only be used to guarantee your booking.</li>
			<li>No booking fees. Booking.com services are always free, so you save money.</li>
			<li>Best Price Guarantee. Found your room online at a lower price? We'll match it.</li>
		</ul>
	</div>
	<div id="footerend">
		<p id="copyright">&copy; Copyright BestNights.com 2014. All Rights Reserved.</p>
		<nav>
			<a href="#">home</a><span> &bull; </span>
			<a href="#">terms of service</a><span> &bull; </span> 
			<a href="#">privacy guidelines</a><span> &bull; </span>
			<a href="#">contact us</a><span> &bull; </span>
			<a href="#">site map</a><span> &bull; </span>
			<a href="#">help</a>
		</nav>
	</div>
</footer>