<% if flash[:success] %>
	<p class="success" style="text-align:center;">
		<%= flash[:success] %>
	</p>
<% end %>

<% if flash[:errors] %>
	<p class="errors" style="text-align:center;color: red;">
		<% flash[:errors].each do |error| %>
		  <%= error %>
		  <br />
		<% end %>
	</p>	
<% end %>

