<div class="logo" style="float:left">
	<%= link_to image_tag("/assets/logo.png"), root_path %>
</div>
<nav id="phone">
<span class="call">1 800 494 BEST (2378)</span>
<% if session[:traveler_id] %>
	<%= link_to "Logout" , destroy_user_session_path, :method => :delete %>
<% else %>
	<% if controller.controller_name == "home" && controller.action_name == "index" %>
		<%= link_to "Traveler Login",  travelers_login_path %>
	<% else %>
		<%= link_to "Login",  new_user_session_path %>
	<% end %>
<% end %>
</nav>