<h4>Adjust Rooms to Sell (Room Level)</h4>
							<fieldset>
								<ul class="col2">
									<li>
										<h5>These selected days</h5>
										<ul>
											<li class="checkboxes"><label>Monday</label><input type="checkbox" id="" name="day[0]"></li>
											<li class="checkboxes"><label>Tuesday</label><input type="checkbox" id="" name="day[1]"></li>
											<li class="checkboxes"><label>Wednesday</label><input type="checkbox" id="" name="day[2]"></li>
											<li class="checkboxes"><label>Thursday</label><input type="checkbox" id="" name="day[3]"></li>
											<li class="checkboxes"><label>Friday</label><input type="checkbox" id="" name="day[4]"></li>
											<li class="checkboxes"><label>Saturday</label><input type="checkbox" id="" name="day[5]"></li>
											<li class="checkboxes"><label>Sunday</label><input type="checkbox" id="" name="day[6]"></li>
										</ul>
									</li>
									<li>
										<h5>These selected rooms</h5>
										<ul>
											<li class="checkboxes"><label>King Room</label><input type="checkbox" id="" name="roomtype[0]"></li>
											<li class="checkboxes"><label>Queen Room</label><input type="checkbox" id="" name="roomtype[1]"></li>
											<li class="checkboxes"><label>Executive Suite</label><input type="checkbox" id="" name="roomtype[2]"></li>
											<li class="checkboxes"><label>Queen Room with Two Queen Beds</label><input type="checkbox" id="" name="roomtype[3]"></li>
											<li class="checkboxes"><label>Room Selected at Check-In</label><input type="checkbox" id="" name="roomtype[4]"></li>
											<li><label>Number of rooms to make available</label><input id="" name="" type="number" min="0" value="0"></li>
										</ul>
									</li>
								</ul>
								<h5>Dates</h5>
								<div class="jrange dates">
									<input>
									<div></div>
								</div>
                              <ul class="col2">
                                <li>
                              <label>Room rate per night:</label><input type="number">
                                  </li>
                                </ul>
                              
								
							</fieldset>
							<fieldset class="formactions">
								<input id="gobutton" type="submit" value="Change/Update">
							</fieldset>